body {
    margin: 0;

}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.50);
    width: auto;
    height: 80px;
    margin: 0;
    padding: 5px;
}

header>img {
    width: 80px;
    height: 80px;
    flex-shrink: 0;

}

.navs1 {
    font-size: 40px;
    margin-right: 59px;
    color: #000;

}

.navs2 {
    font-size: 20px;
    color: #000;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.button-container {
    
    width: 140px;
    height: 55px;
}

.button-signin {
    margin-top: 30px;
    width: 135px;
    height: 50px;
    border-radius: 40px;
    color: #FFF;
    background: #E55604;
}

.button-signin:hover {
    color: #E55604;
    background: #EBE4D1;
    width: 140px;
    height: 55px;
    transition-duration: 300ms;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 50px;
    width: 1970px;
    height: 796px;
    flex-shrink: 0;
    margin-top: 20px;
    background: #FFF;
}

.contact-content > h1 {
    color: #000;

    text-align: center;
    font-family: Inika;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1900px;
    height: 70px;
    flex-shrink: 0;
    border: 1px solid #000;
    background: #F6F6F6;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #000;
    padding-left: 20px;

    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1600px;
    height: 70px;
    flex-shrink: 0;
    border: 1px solid #000;
    background: #F6F6F6;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #000;

    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}







footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: auto;
    height: 571px;
    flex-shrink: 0;
    background: rgba(229, 86, 4, 0.70);
    margin-bottom: 100px;
    padding: 20px 50px;
    gap: 40px;

}

.about {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 80px;
    padding: 0 50px;


}

.about>h1 {
    color: #000;
    text-align: center;
    font-family: Inika;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about>p {
    color: #000;
    font-family: Inika;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mapouter {
    position: relative;
    text-align: right;
    width: 1000px;
    height: 479px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 1000px;
    height: 479px;
}

.gmap_iframe {
    width: 1000px !important;
    height: 479px !important;
}

.vl {
    border-left: 2px solid rgb(0, 0, 0);
    height: 500px;
}

.garis {
    width: 900px;
}

.icon-sosmed {
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.icon-sosmed>img:hover {
    width: 100px;
    height: 100px;
}

.footer-content {
    display: flex;
    flex-direction: column;

}